.collage{
    position:absolute;
}


.container{
    position:relative;
    width:100vw;
    height:200px;
    background-color: aquamarine;
}

.center{
    position:absolute;
    left:50%;/*moving the element to the center of the*/
    top:50%;
    transform:translate(-50%,-50%);
    margin:0;
}

.display-exp{
  display:flex;
  gap:20px;
}

.display-exp div{
    flex:1;
    padding:20px;
    color:white;
    margin:20px;
}

.flex-container{
    display:flex;
    width:100vw;
    background-color: lightpink;
    height:500px;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4{
   font-family: "Rubik Storm", system-ui;
  font-weight: 400;
  font-style: normal;
  animation-name:changeBG;
  animation-duration:3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeBG{
    from{background-color: lightblue;}
    to{background-color: red;}
}

h1:hover{
    color:green;
    transform: rotate(5deg);
}